body {
font-family: 'Roboto',sans-serif;
color: #434455;
background-color: #FFFFFF;
}
p,h1,h2,h3,h4,h5,h6{
margin-top: 0; margin-bottom: 0;
}
a{text-decoration: none;
color: currentColor;
}

ul{list-style: none;
margin-top: 0;
margin-bottom: 0;
padding: 0;
}

button{
cursor: pointer;
}
.container{
max-width: 1158px;
padding-left: 15px;
padding-right: 15px;
margin: auto;
}


/**-------------Header-----------*/

.header{
border-bottom: 1px solid #e7e9fc;
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container{
display: flex;
align-items: center;
}
.header-navigation{
display: flex;
align-items: center;
}
.header-logo {
font-family: Raleway,sans-serif;
font-size: 18px;
font-weight: 700;
text-transform: uppercase;
line-height: 1.17;
letter-spacing: 0.03em;
color:#4D5AE5;
margin-right: 76px;
}
.header-part{
color: #2E2F42;
}

.header-menu-list{
display: flex;
padding-top: 24px;
padding-bottom: 24px;
gap: 40px;
}
.header-menu-item {
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2E2F42;
gap: 40px;
}

.header-link{
padding-top: 24px;
padding-bottom: 24px;
position: relative;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
color: #404bbf;
}

.header-link::after{
content: '';
position: absolute;
left: 0;
bottom: -1px;
width: 48px;
height: 4px;
background-color: #404bbf;
border-radius: 2px;
}

.header-menu-item:hover{
 color: #404bbf;   
}
.header-menu-item:focus{
color: #404bbf;
}

.address{
font-style: normal;
margin-left: auto;
}
.address-link{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:#434455;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover{
color: #404bbf;
}
.address-link:focus{
color: #404bbf;
}

.list-nav{
display: flex;
gap: 40px;
}

.list-nav-mail{
width: 153px; 
height: 24px;
top: 24px;
left: 940px;
}

.list-nav-phone{
left: 1133px;
margin-right: auto;
}
/**------------------------*/
/**-------------Hero-----------*/
.hero{
max-width: 1440px;
background-color: #2E2F42;
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/image-11.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
padding-top: 188px;
padding-bottom: 188px;
margin: 0;
}
.hero-title{
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #FFFFFF;
margin: auto;
margin-bottom: 48px;
max-width: 496px;
}

.hero-order-btn{
font-family: 'Roboto',sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
color: #FFFFFF;
background:#4D5AE5;
min-width: 169px;
height: 56px;
padding: 16px 32px 16px 32px;
margin: 0 auto;
border-radius: 4px;
gap: 10px;
border: none;
display: block;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-order-btn:hover {
background-color: #404BBF;
}

.hero-order-btn:focus {
background-color: #404BBF;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.features{
padding-top: 120px;
padding-bottom: 120px ;
}
.features-list{
display: flex;
gap: 24px;
}
.features-list-guide{
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}
.features-item{
width: calc((100% - 72px) / 4);
}
.features-label{
flex-shrink: 0;
}
.features-icons{
display: flex;
align-items: center;
justify-content: center;
height: 112px;
background-color: #f4f4fd;
border-radius: 4px;
margin-bottom: 8px;
}

.features-item-reference{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: left;
color: #434455;
max-width: 264px;
margin-right: auto;
}

/**---------------------------*/
/**-------------Team-----------*/
.team{
background-color: #F4F4FD;
padding-top: 120px;
padding-bottom: 120px;
}
.team-title{
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: #2E2F42;
margin-bottom: 72px;
}
.team-list{
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2E2F42;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
display: flex;
gap: 24px;
flex-wrap: wrap;
}
.team-list-title{
font-weight: 500;
letter-spacing: 0.02em;
font-size: 20px;
line-height: 1.2;
color: #2e2f42;
gap: 48px;
width: calc((100% - 48px) / 3);
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.content{
position: relative;
overflow: hidden;
}

.team-text-cover{
background-color: #4d5ae5;
height: 100%;
width: 100%;
top: 0;
display: flex;
position: relative;
position: absolute;
align-items: center;
color: #F4F4FD;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
padding: 40px 32px;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-list-title:hover .team-text-cover{
transform: translateY(0%);
}

.team-list-members{
font-size: 16px;
line-height: 1.5;
color: #434455;
background-color: #FFFFFF;
border-radius: 0px 0px 4px 4px;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-img{
display: block;
gap: 24px;
max-width: 360px;
max-height: 420px;
flex-shrink: 0;
}

.team-memebers{
padding-top: 32px;
padding-bottom: 32px;
text-align: center;
margin: auto;
}

.link-list {
display: flex;
justify-content: center;
align-items: center;
gap: 24px;
margin-top: 8px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.link-list-icon{
width: 40px;
height: 40px;
}

.link{
display: flex;
justify-content: center;
align-items: center;
fill: #f4f4fd;
background-color: #4D5AE5;
border-radius: 50%;
width: 100%;
height: 100%;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover{
background-color: #404bbf;
}
.link:focus{
background-color: #404bbf;
}

.features-item-team{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
text-align: center;
}
.portfolio{
padding-top: 120px;
padding-bottom: 120px;
}
.our-team-list{
display: flex;
flex-wrap: wrap;
row-gap: 48px;
column-gap: 24px;
}

.team-options{
padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;
}
.team-list-options{
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: left;
color: #2e2f42;
margin-bottom: 8px;
}
.team-list-item{
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: left;
color: #434455;
}
/**--------------------------*/
/**-------------Footer-----------*/
.footer{
background: #2E2F42;
padding-top: 100px;
padding-bottom: 100px;
}
.footer-container{
display: flex;
align-items: baseline;
}
.text-logo{
margin-right: 120px;
}
.footer-logo{
display: inline-block;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
text-transform: uppercase;
letter-spacing: 0.03em;
color: #4D5AE5;
margin-bottom: 16px;
}
.footer-part{
color: #F4F4FD;
}
.footer-text{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: left;
color: #F4F4FD;
margin-right: 156px;
max-width: 264px;
}

.footer-media-title{
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
color :#FFFFFF;
margin-bottom: 16px;
}
.footer-media-list{
display: flex;
gap: 16px;
}
.media-link{
width: 40px;
height: 40px;
}
.footer-link{
display: flex;
width: 100%;
height: 100%;
background-color: #4d5ae5;
border-radius: 50%;
align-items: center;
justify-content: center;
transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover {
background-color: #31d0aa;
}
.footer-link:focus {
background-color: #31d0aa;
}
.media-link-icon{
fill: #f4f4fd;
}
.footer-bottom{
display: flex;
text-align: center;
justify-content: space-between;
}
.footer-title{
width: 75px;
height: 24px;
margin-bottom: 16px;
color: #FFFFFF;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
}
.footer-form{
display: flex;
gap:24px;
}
.footer-input{
width: 264px;
height: 40px;
background-color: transparent;
padding-left: 16px;
border-radius: 4px;
    border: 1px solid var(--WHITE, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
color: #FFFFFF;
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 2;
letter-spacing: 0.04em;
}
.footer-icon{
margin-left: 16px;

}
.footer-form-btn{
height: 40px;
min-width: 165px;
padding-left: 24px;
padding-right: 24px;
display: flex;
justify-content: center;
align-items: center;
color: #FFFFFF;
font-family: "Roboto", sans-serif;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
background-color: #4D5AE5;
border-radius: 4px;
border: none;
margin-left: 24px;
}
/**--------------------------*/
 /**---------modal------------*/
 .backdrop {
width: 100%;
height: 100%;
position: fixed;
top: 0;
background-color: rgba(46, 47, 66, 0.4);
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
 visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
opacity: 0;
visibility: hidden;
pointer-events: none;
}
.is-open{
opacity: 1;
visibility: visible;
pointer-events: auto;
}

.modal{
width: 408px;
min-height: 584px;
border-radius: 4px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background: var(--DAIRY, #FCFCFC);
box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.20);
padding: 72px 24px 24px 24px;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-field{
margin-bottom: 8px;
}
.modal-close-btn{
display: flex;
width: 24px;
height: 24px;
top: 24px;
right: 24px;
border-radius: 50%;
margin-left: auto;
position: absolute;
align-items: center;
justify-content: center;
border: 1px solid rgba(0, 0, 0, 0.1);
padding: 0;
background-color: #e7e9fc;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
 border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover{
fill: #ffffff;
background-color: #404bbf;
border: none;
}
.modal-close-btn:focus{
fill: #ffffff;
background-color: #404bbf;
border: none;
}
.close-svg{
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-title{
width: 360px;
color: #2E2F42;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
margin-bottom: 16px;
top: 72px;
}
.modal-input-wrap{
position: relative;
}
.modal-input{
height: 40px;
width: 100%;
border-radius: 4px;
top: 8px;
border: 1px solid rgba(46, 47, 66, 0.4);
background-color: transparent;
padding-left: 38px;
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus{
border-color: #4D5AE5;
}
.modal-comment{
margin-bottom: 16px;
}
.modal-label{
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8E8F99;
display: block;
margin-bottom: 4px;
}
.modal-icon{
position: absolute;
left: 16px;
top: 50%;
transform: translateY(-50%);
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
fill: #4D5AE5;
}
.modal-text{
width: 100%;
height: 120px;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
border-radius: 4px;
top: 8px;
margin-bottom: 16px;
padding-left: 16px;
padding: 8px 16px;
color: rgba(46, 47, 66, 0.4);
border: 1px solid rgba(46, 47, 66, 0.4);
background-color: transparent;
resize: none;
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text:focus{
border-color: #4D5AE5;
}
.check-field{
margin-bottom: 24px;
}

.check-text {
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
}
.check-text a{
color: #4D5AE5;
text-decoration: underline;
}
.check-text span{
width: 16px;
height: 16px;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 2px;
margin-right: 8px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
border 250ms cubic-bezier(0.4, 0, 0.2, 1),
fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
display: inline-flex;
align-items: center;
justify-content: center;
fill: transparent;
}
.check-input:checked + .check-text span {
background-color: #404bbf;
border:none;
fill: #F4F4FD;
}
.privacy-policy{
color: #4d5ae5;
text-decoration: underline;
}
.modal-submit-btn{
color:#FFFFFF;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
display: block;
min-width: 169px;
min-height: 56px;
cursor: pointer;
padding: 16px 32px;
margin: auto;
gap: 10px;
border-radius: 4px;
background-color: #4D5AE5;
border: none;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/**--------------------------*/